html,
body{
  background-color: #fff;
}

body{
  padding: 0;
  margin: 0;
  color: #464C5B;
  font-size: 14px;
  line-height: 1.4;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol", "Microsoft YaHei";*/
  /*font-family: Roboto, Segoe UI, "Microsoft YaHei", Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;*/
}
.tableOverstyle .el-table .cell{
  white-space: normal;
}
.ql-editor .ql-indent-1:not(.ql-direction-rtl)
{
  padding-left: 0 !important;
  text-indent: 2em !important;
}
.ql-editor .ql-indent-2:not(.ql-direction-rtl){
  padding-left: 0 !important;
  text-indent: 4em !important;
}
.ql-editor .ql-indent-3:not(.ql-direction-rtl)
{
  padding-left: 0 !important;
  text-indent: 6em !important;
}
.ql-editor .ql-indent-4:not(.ql-direction-rtl){
  padding-left: 0 !important;
  text-indent: 8em !important;
}.ql-editor .ql-indent-5:not(.ql-direction-rtl)
{
  padding-left: 0 !important;
  text-indent: 10em !important;
}
.ql-editor .ql-indent-6:not(.ql-direction-rtl){
  padding-left: 0 !important;
  text-indent: 12em !important;
}.ql-editor .ql-indent-7:not(.ql-direction-rtl)
{
  padding-left: 0 !important;
  text-indent: 14em !important;
}
.ql-editor .ql-indent-8:not(.ql-direction-rtl){
  padding-left: 0 !important;
  text-indent: 16em !important;
}
.ql-editor blockquote{
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px !important;
}
div{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #3658A7;
}
pre,code{
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace, "Microsoft YaHei";
}
code{
  color: #d03bc8;
  padding: 0.1em 0.4em;
  margin: 0;
  background-color: rgba(111, 66, 193, 0.07);
  border-radius: 3px;
}
::selection{
  background: #CBD1DE;
}
.f-left{
  float: left;
}
.f-right{
  float: right;
}
.clearfix::before,
.clearfix:after{
  content: "";
  height: 0;
  visibility: hidden;
  display: table;
  clear: both;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.dark_btn{
  background: #3658A7;
  color: #fff;
}
.light_btn{
  background: #fff;
  height: 26px;
  line-height: 1;
  padding: 0 8px;
  border:1px solid #3658A7;
  color: #3658A7;
}
.light_btn:hover,
.router_btn:hover a{
  background: #3658A7;
  color: #fff;
}
.el-table .el-table__header thead th{
  color:#fafafa;
}
.priview-box{
  margin-bottom: 50px;
}
.priview-box .description{
  color: #62676C;
}

h2,
p{
  margin: 0;
  padding:0;
}



.page-body{
  background: #fff;
}
.page-body .page-header{
  padding: 15px;
}
.page-body .page-header .page-title{
  font-size: 18px;
  margin: 0;
  margin-bottom: 15px;
  color: #585A5F;
}
body .el-table th.gutter{
  display: table-cell !important;
}
.page-body h1{
  font-size: 2rem;
  font-weight: 400;
  margin: 20px 0;
}
.page-body h2{
  font-size: 1.5rem;
  font-weight: 400;
}
.box{
  background: #fff;
  border-radius: 3px;
  padding:15px;
}
.box .box-header:before,
.box .box-header:after,
.box .box-footer:before,
.box .box-footer:after,{
  content: "";
  display: table;
  clear: both;
}
.box .box-header{
  padding-bottom: 15px;
}
.box .box-footer{
  padding: 15px 0;
}
.box .box-header .box-title{
  font-size: 18px;
  font-weight: 100;
  margin: 0;
}
.el-table{
  font-size: 12px;
}
.progress-bg{
  margin: 0 auto;
  width: 60%;
  height: 4px;
  background: rgba(245,245,245, 0.2);
  overflow: hidden;
}
.progress-bg .progress{
  width: 50%;
  height: 4px;
  margin-left: -50%;
  background: #19a05e;
  float: left;
  animation: progress 1s linear infinite;
}
.wh80{
  width: 80px;
  height: 80px;
}
#content{
  border: 1px solid #dcdfe6;
  overflow-y: auto;
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #c0c4cc;
  cursor: not-allowed;
  min-height: 500px;
}
.el-input--mini .el-input__inner {
  /* font-size: 12px; */
  color: #999;
  border-radius: 0;
}
.el-table .cell{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.unclick{
  cursor:not-allowed !important;
}
.marBo4{
  margin-bottom: 4px;
}
.marBo10{
  margin-bottom: 10px;
}
.marL10{
  margin-left: 10px;
}
.marLe4{
  margin-left: 4px;
}
.padLe4{
  padding-left: 4px;
}
.marT20{
  margin-top: 20px;
}
.marR10{
  margin-right: 10px;
}
.marR100{
  margin-right: 100px;
}
.mr40{
  margin-right: 40px;
}
.mr20{
  margin-right: 20px;
}
.mt40{
  margin-top: 40px;
}
.miniBox{
  width:1000px;
  margin:0 auto;
}
.editor img{
  max-width: 100%;
}
.miniTable td{
  padding: 6px 0;
}
.miniTable{
  line-height: 36px;
}
table img{
  width: 100%;
  vertical-align: middle;
  height: 44px;
}
.btnTable td,
.miniTable th,
.btnTable th{
  padding: 0;
}
.btnTable{
  line-height: 36px;
}
.quill-editor{
  margin: 0;
}
.el-date-editor .el-range__icon{
  line-height: 22px;
}
.el-date-editor .el-range-separator,
.el-date-editor .el-range__close-icon{
  line-height: 20px;
}
.el-upload--picture-card{
  width: 80px;
  height: 80px;
  line-height: 88px;
}
.el-upload-list--picture-card .el-upload-list__item{
  width: 80px;
  height: 80px;
}
.yshx {
  color: #00C621;
}

.dshx {
  color: #FEB210;
}

.yxx {
  color: #999;
}
.clamp2{
	overflow: hidden;
	line-height: 1.3;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.color9{
  color:#999;
}
.color6{
  color:#666;
}
/* 预览样式 */
.u_editor{
  padding: 14px;
}
.u_editor .title{
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}

.u_editor .zhuan .title{
  width: 100%;

}
.u_editor .pubMsg{
  position: relative;
  color:#999;
}
.u_editor .zhuan .reprint{
  position: absolute;
    top: 2px;
    right: 0.3rem;
    background: #D81E06;
    color: #fff;
    font-size: 0.24rem;
    line-height: 1.2;
    padding: 4px;
    border-radius: 3px;
}

.u_editor .yuan .title{
  width: 88%;
  
}
.u_editor .content{
  padding-top: 14px;
  margin: 0 auto; 
  min-height: 200px;
  margin-top: 2px;
  overflow-y: auto !important;
  word-wrap: break-word;
  word-break: break-all;
}
.u_editor .content img{
  display: block;
  margin: 10px auto;
  max-width: 400px !important;
  
}
.u_editor #img1{
  width: 19px;
    height: 34px;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
}
@keyframes progress {
  0% {
    margin-left: -50%;
  }
  100% {
    margin-left: 100%;
  }
}
/* @media screen and (max-width: 1000px) {
  .app-side {
      width:60px !important;
  }
  .side-switch{
    display: none !important;
  } 
}*/